
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: #c9f9ee;
}
.container{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 0 15px;
    position: fixed;
}
a{
    color: white;
    text-decoration: none;
    
}
.left-nav a{
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}
.left-nav a:hover{
    color: red;
}
.middle-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-nav{
    display: none;
}
.bar,.xmark{
    display: block;
    cursor: pointer;
}
.xmark{
    display: none;
}
.fa-bars, .fa-xmark{
    color: white;
    font-size: 35px;
    transition: all 0.5s ease;
}
.right-nav{
    display: flex;
}
.right-nav .nav-ul{
    display: flex;
}
.nav-ul li{
    display: block;
}
.nav-ul>li>a{
    font-size: 18px;
    padding: 9px 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.nav-ul>li>a:hover, .mega-ul>li:hover{
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
}
.drop-menu{
    position: absolute;
    width: 175px;
    top: 75px;
    background-color: black;
    visibility: hidden;
    transition: all 0.2s ease;
}
.drop-menu li{
    width: 175px;
    height: 50px;
    text-align: center;
    padding: 12px 15px;
    
}
.drop-menu li:hover{
    background-color: rgb(54, 54, 54);
}
.drop:hover .drop-menu, .mega:hover .mega-box{
    visibility: visible;
    opacity: 1;
    top: 65px;
}
.mega-box{
    width: 100%;
    height: 280px;
    position: absolute;
    left: 0;
    top: 75px;
    display: flex;
    justify-content: center;
    visibility: hidden;
    transition: all 0.2s ease;
    
}
.mega-box .content{
    width: 95%;
    display: flex;
    justify-content: center;

}
.bgImage{
    width: 100%;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdVryfA8aqQc_XyopPF2YIGDdZy-HPVEniGS_L313xHsKmX2-6lBy0iYS7D_2G3YAHoH4&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 15px 0;
}

.row{
    height: 100%;
    width: calc(100%/4);
    background-color: black;
    padding: 20px;
    border-left: 1px solid rgb(2, 2, 34);
}
.row:nth-child(1),.row:nth-child(2){
    border-left: none;
}
.mega-ul>li{
    padding: 3px 5px;
    transition: all 0.3s ease;
}
.mega-ul>li>a{
    font-size: 15px;
}
.appear{
    right: 0;
}
.disappear{
    right: -100%;
}
@media screen and (max-width: 840px) {
    .left-nav>a{
        font-size: 30px;
    }
    .right-nav>ul>li>a{
        font-size: 15px;
        padding: 9px 10px;
    }
    
}
@media screen and (max-width: 640px){
    .middle-nav{
        display: flex;
        padding-left: 20px;
    }
    .right-nav{
        position: absolute;
        top: 65px;
        right: -100%;
        background-color: black;
        width: 50%;
        height: 100vh;
        transition: all 0.5s ease;
    }
    .right-nav .nav-ul{
        display: flex;
        flex-direction: column;
    }
    .right-nav .nav-ul>li{
        padding: 20px 10px;
    }
    .drop-menu{
        position: absolute;
        visibility: hidden;
        margin-top: 10px;
    }
    .drop-menu>li{
        padding: 10px;
        width: 85%;
        margin-left: 20px;
    }
    .drop-menu>li:hover{
        border-radius: 5px;
    }
    .drop:hover .drop-menu{
        position: static;
        visibility: visible;
    }
    .mega-box{
        position: absolute;
        visibility: hidden;
    }
    .mega-box .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        margin-left: 30px;
        margin-top: 10px;
        height: 100%;
        overflow-y: auto;
    }
    .row{
        width: 100%;
        padding: 10px;
    }
    .bgImage{
        width: 100%;
        height: 100px;
    }
    .mega:hover .mega-box{
        position: static;
        visibility: visible;
    }
}